body, html{
	width: 100%;
	font-family: Rockwell Nova;

}
.top-div{
	background-color: #eee;
	padding-top: 15px;
	padding-bottom: 10px;
}
.navbar{
	top: 75px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: white !important;
	border-color: white !important;
}
/*.carousel-mine{
	height: 600px;
	width: 100%;
	background-image: url('image/4.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;

}*/


/*.item img{
	height: 600px !important;
	width: 100% !important;

}*/
.carousel-control{
	height: 100px;
	width: 100px;
	margin-top: 300px;
	margin-left: 10px;
	border-radius: 20px;
	background-color: black;
}
hr{
	/*width: 200px;*/
	height: 1px;
	background-color: blue;
}
.service h2{
	color: blue;
}
.service{
	padding-top: 80px;
	padding-bottom: 80px;
}
.about{
	background-image: url('image/5.jpg');
	height: 450px;
	background-size: 100% auto;
	padding: 0px;
	}
.about .con{
	color: white;
	width: 100%;
	height: 100%;
	background: rgb(1,1,1,.7);
	/*padding: 20px;*/
	padding-top: 50px;
}
.num{
	background-image: url('image/4.jpg');
	background-size: 100% auto;
	height: 450px;


}
.num .a{
	width: 100%;
	height: 100%;
	padding: 200px;
	color: white;
	background: rgb(1,1,1,.7);
}
.num .a i{
	color: magenta;
	font-size: 50px;

}
.num .b{

	padding: 200px;
	color: white;
	background: rgb(1,1,1,.7);
}
.num .b i{
	color: magenta;
	font-size: 50px;

}
.shadow{
	height: 900px;
	width: 100%;
	background: rgb(1,1,1,.6);
	position: absolute;
	top: 0px;
	left: 0px;
	/*padding-top: 200px;*/
	/*padding-bottom: 200px; 	*/
	
}
.item{
	
	font-size: 50px; 
	/*padding-top: 200px !important;
	padding-bottom: 200px !important; */
	padding: 250px !important;
	/*margin-top: 200px !important;*/
	text-align: center;
	background-repeat: no-repeat; 
	background-size: 100% auto;
	color: white; 
	
}
.heading{
	/*padding-top: 200px !important;
	padding-bottom: 200px !important;*/
	padding: 150px !important;
}

.item img{
	/*padding: 10px;*/
	height: 200px;
	width: auto;
} 
footer span{
	height: 25px;
	width: 25px;
	border: 2px solid black;
	border-radius: 2px;
	text-align: center;
	padding: 5px;
	border-radius: 8px;
}

.list ul li{
	display: block;
	padding: 10px;
	text-align: left;
}
.listt ul li{
	display: inline;
	padding-left: 20px;
}
.list{
	text-align: center;
}